__pycache__
amd64/Lib/*
!amd64/Lib/site-packages.zip.001
!amd64/Lib/site-packages.zip.002
!amd64/Lib/site-packages.zip.003
!amd64/Lib/site-packages.zip.004
!amd64/Lib/site-packages.zip.005
other
rubert-tiny2
clear_cache.bat
events.log
functions.db
gigakeys.ini
gigakeys_.ini
test.py